/* .own-space .own-space-new .ivu-card-body {
  padding: 16px 16px 16px 0px;
}
.own-space .own-wrap {
  display: flex;
}
.own-space .own-wrap .title {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  margin-bottom: 12px;
}
.own-space .own-wrap .safe {
  width: 100%;
}
.own-space .own-wrap .safe .item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #e8e8e8;
}
.own-space .own-wrap .safe .item .title {
  color: rgba(0, 0, 0, 0.65);
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 22px;
}
.own-space .own-wrap .safe .item .desc {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  line-height: 22px;
}
.own-space .own-wrap .safe .item .desc .red {
  color: #ed3f14;
}
.own-space .own-wrap .safe .item .desc .middle {
  color: #faad14;
}
.own-space .own-wrap .safe .item .desc .green {
  color: #52c41a;
} */
